<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

    <header>
        
    <h1>Pokedex</h1>

    </header>
    
    <main>

        <section id="cards">

            <% pokedex.forEach((pokemon) => { %>
        
                <div class="card">
                    <img src="<%= pokemon.imagem %>" alt="">
                    <h2><%= pokemon.nome %></h2>
                    <p class="descricao"><%= pokemon.descricao %></p>
                    <p>Tipo: <%= pokemon.tipo %></p>
                    <p>Altura: <%= pokemon.altura %></p>
                    <p>Peso: <%= pokemon.peso %></p>
                    <p>Habilidade: <%= pokemon.habilidade %></p>
                </div>
        
            <%  })  %>
            </section>

            <section id="cadastro">
                <h2>Cadastre um novo pokemon!</h2>

                <form action="/add" method="POST">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome">

                    <label for="descricao">Descrição:</label>
                    <input type="text" id="descricao" name="descricao">

                    <label for="tipo">Tipo:</label>
                    <input type="text" id="tipo" name="tipo">

                    <!-- <label for="altura">Altura:</label>
                    <input type="number" id="altura" name="altura">

                    <label for="peso">Peso:</label>
                    <input type="number" id="peso" name="peso">

                    <label for="habilidade">Habilidade:</label>
                    <input type="text" name="habilidade" id="habilidade"> -->

                    <label for="imagem">Link da imagem:</label>
                    <input type="text" id="imagem" name="imagem">

                    <button id="btnCadastrar" type="submit">Cadastrar</button>

                    

                </form>
            </section>

    </main>

   

</body>
</html>